<style>
    .custom_section{
        text-align: center;
        margin: 35px 0px;
    }
    .custom_section>h1{
        color:tomato;
        font-size: 35px;
    }
</style>
<section class="custom_section">
    <h1><%= title %> </h1>
</section>