<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs',{title:"My Posts"}) %>
</head>

<body>
    <%- include('../partials/nav.ejs',{path:'/',username:username }) %>
        <h1>Posts</h1>
        <% for( let postIdx = 0; postIdx < posts.length; postIdx++ ) { %>
            <%- include('../partials/postItem.ejs',{post:posts[postIdx]})  %> 
        <% } %>
</body>

</html>