<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs',{title:"Login"})  %> 
</head>
<body>
   <%- include('../partials/nav.ejs',{path:'/signin'})  %> 
   <%- include('../partials/section.ejs',{title:'login'})  %> 
</body>
</html>